

.sidenav {
    width: 330px;
    /* position: fixed; */
    /* z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    color: rgb(12, 12, 12);
    display: block;
    font-style: normal;
    text-decoration-style: double;
    text-align: justify;
    text-justify: newspaper;
    -ms-text-justify: distribute;
}

.sidenav a:hover {
    color: blueviolet;
    text-decoration-color: brown;
   
}





}

.footer{
    padding-top: 7cm;
    padding-left: 7cm;
}