

.sidenav {
    width: 330px;
    /* position: fixed; */
    /* z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(12, 12, 12);
    display: block;
    font-style: normal;
    text-decoration-style: double;
    text-align: start;
    text-justify: newspaper;
    -ms-text-justify:auto; align-self: auto;
    border-bottom-style: ridge;
    border-bottom-left-radius: 2cm;
    align-content: flex-end;
    align-content: center;
    align-self: auto;
    line-height: 1cm;
    width: 9cm;
}

.sidenav a:hover {
    color: blueviolet;
    text-decoration-color: brown;
    -ms-zoom-animation: none;
    -webkit-transform:scale(0.5);
    -moz-transform:scale((1.5);
    -o-transform:scale((1.5);
    transform:scale((1.5);
    

   
}



.footer{
    padding-top: 7cm;
    padding-left: 7cm;
}